/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

html {
	font-size: 10px;
}

@font-face {
	font-family: Merriweather;
	src: url(./fonts/Merriweather-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto-Bold.ttf);
}

h1 {
	font-size: 3rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
}

h1, h2 {
	letter-spacing: 1.5px;
	font-family: Roboto;
}

body {
	line-height: 1.75;
	letter-spacing: .5px;
	word-spacing: 1px;
	font-family: Merriweather;
}

h2 + p {
	text-indent: 1.25rem;
}

a {
	color: #a66;
}

a:visited {
	color: purple;
}

a:focus {
	background-color: pink;
	color: purple;
	text-decoration-line: none;
	outline-style: none;
}

a:hover {
	background-color: pink;
	color: black;
	text-decoration-line: none;
}

a[href^="http"]::after {
	content: "";
	display: inline-block;
	width: .7em;
	height: .7em;
	margin-left: 0.25em;
  
	background-size: 100%;
	background-image: url("external-link-52.png");
}

ul, ol {
	list-style-type: square;
}



nav > ul {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

nav > ul > li {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 180px;
	margin: 10px auto;
	border: 1px solid;
	border-color: #a66;
	text-align: center;
	font-size: 1.5rem;
}

nav > ul > li > a {
	text-decoration-line: none;
}

